<div class="profile-tabs">
   <div class="nav-align-center">
      <ul class="nav nav-pills nav-pills-primary" role="tablist">
         <li class="active">
            <a href="#programming" role="tab" data-toggle="tab">
            <i class="fa fa-bath"></i>
            Programming
            </a>
         </li>
         <li>
            <a href="#version-control" role="tab" data-toggle="tab">
            <i class="fa fa-line-chart"></i>
            Version control
            </a>
         </li>
         <li>
            <a href="#communicate" role="tab" data-toggle="tab">
            <i class="fa fa-comments"></i>
            Communicate
            </a>
         </li>
      </ul>
      <div class="tab-content gallery">
         <div class="tab-pane text-center active" id="programming">
            <div class="row">
               <div class="col-md-12" align='left'>
                  <h3><strong>Topics:</strong></h3>
                  <ul>
                    <li>Tidyverse</li>
                    <li>Importing, cleaning/tidying data</li>
                    <li>Transforming data</li>
                    <li>Visualization</li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="tab-pane text-center" id="version-control">
            <div class="row">
               <div class="col-md-12" align='left'>
                  <h3><strong>Topics</strong>:</h3>
                  <ul>
                    <li>Github</li>
                    <li>RStudio projects</li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="tab-pane text-center" id="communicate">
            <div class="row">
               <div class="col-md-12" align='left'>
                  <h3><strong>Topics</strong>:</h3>
                  <ul>
                    <li>RMarkdown</li>
                    <li>knitr</li>
                    <li>papaja</li>
                    <li>xaringan</li>
                    <li>github</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- End Profile Tabs -->
