<!-- Begin Profile Tabs -->
<div class="profile-tabs">
   <div class="nav-align-center">
      <ul class="nav nav-pills nav-pills-primary" role="tablist">
         <li class="active">
            <a href="#r" role="tab" data-toggle="tab">
            <i class="icon-rlogo"></i>
            R
            </a>
         </li>
         <li>
            <a href="#github" role="tab" data-toggle="tab">
            <i class="fa fa-microphone"></i>
            Github
            </a>
         </li>
         <li>
            <a href="#slack" role="tab" data-toggle="tab">
            <i class="fa fa-slack"></i>
            Slack
            </a>
         </li>
         <li>
            <a href="#datacamp" role="tab" data-toggle="tab">
            <i><img height="30px" src="{{"/img/dc.png" | relURL }}"></i>
            Datacamp
            </a>
         </li>
      </ul>
      <div class="tab-content gallery">
         <div class="tab-pane text-justify active" id="r">
            <div class="row">
               <div class="col-md-4 col-md-offset-4">
                 R is the statistical programming language we will learn about 
                 in this class. You can download R 
                 <a href="https://cran.r-project.org" target="_blank">here</a>. 
                 We will interface with R using RStudio, a fully feautred IDE. 
                 RStudio is available to download 
                 <a href="https://www.rstudio.com/products/rstudio/download/#download" target="_blank">here</a>. 
               </div>
            </div>
         </div>
         <div class="tab-pane text-justify" id="github">
            <div class="row">
               <div class="col-md-4 col-md-offset-4">
                 <a href="http://www.github.com" target="_blank">Github</a> is a 
                 Web-based Git version control repository hosting service. It is 
                 mostly used for computer code (like Dropbox for nerds). We will 
                 use GitHub for project management and sharing reproducible 
                 reports.
               </div>
            </div>
         </div>
         <div class="tab-pane text-justify" id="slack">
            <div class="row">
               <div class="col-md-4 col-md-offset-4">
                 Slack is a communication platform we'll use to discuss specific 
                 topics outside of class. It also serves as a resource for 
                 students to ask questions and exchange information relevant to 
                 the course. You will receive an email with an invitation link 
                 to join the course Slack. For personal matters (only) you can 
                 email the professor.
               </div>
            </div>
         </div>
         <div class="tab-pane text-justify" id="datacamp">
            <div class="row">
               <div class="col-md-4 col-md-offset-4">
                 This class is supported by DataCamp, the most intuitive 
                 learning platform for data science. Learn R, Python and SQL 
                 the way you learn best through a combination of short expert 
                 videos and hands-on-the-keyboard exercises. Take over 100+ 
                 courses by expert instructors on topics such as importing 
                 data, data visualization or machine learning and learn faster 
                 through immediate and personalised feedback on every exercise.
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- End Profile Tabs -->
